* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: blue;
    margin: 0 auto;
    font-size: xx-large;
}
